.skeleton-wrapper {
  display: grid;
  grid-template-areas:
    "title title title title title title title"
    "days sep1 minutes sep2 hours sep3 seconds"
    "lab1 lab2 lab3 lab4 lab5 lab6 lab7";
  row-gap: 8px;
  column-gap: 8px;
  width: 350px;
  padding: 4px;
}

.skeleton-title {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  background-color: #e2e8f0;
}

.skeleton-unit {
  width: 70px;
  height: 50px;
  border-radius: 10px;
  background-color: #e2e8f0;
}

.skeleton-label {
  width: 70px;
  height: 20px;
  border-radius: 5px;
  background-color: #e2e8f0;
}

.skeleton-separator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
